# DagsHub MLflow
MLFLOW_TRACKING_URI=https://dagshub.com/ahmedhex008/RFM_Clustering
MLFLOW_TRACKING_USERNAME=ahmedhex008
MLFLOW_TRACKING_PASSWORD=ad73c8b170984639a9718b16463acdfbd2bfb72e

# Optional: DVC/DagsHub credentials are normally configured locally
# with: dvc remote modify origin --local ...
