# DagsHub MLflow
MLFLOW_TRACKING_URI=https://dagshub.com/ahmedhex008/RFM_Clustering.mlflow
MLFLOW_TRACKING_USERNAME=ahmedhex008
MLFLOW_TRACKING_PASSWORD=your-dagshub-token

# Optional: DVC/DagsHub credentials are normally configured locally
# with: dvc remote modify origin --local ...
